.wrapper {
  width: 100%;
  display: flex;
  margin-top: 20px;
  min-height: 80vh;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
}

.main-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.container {
  display: flex;
  padding-top: 5%;
  margin-top: 20px;
  min-height: 500px;
  min-width: 700px;
  max-width: 500px;
  justify-content: space-around;
}

.left-container {
  max-width: 50%;
}
.right-container {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.image {
  border-radius: 50%;
  margin-bottom: 10%;
}
.text {
  margin-top: 20px;
  font-size: 1.2rem;
  max-width: 70%;
}

.link {
  display: flex;
  font-size: 1.3rem;
  margin-right: 20px;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}
